.entityChildren {
  margin-left: 16px;
  &.closed {
    display: none;
  }
}

.entityItem {
  cursor: pointer;
}

.chevronContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  right: 0;
  height: 15px;
  .entityChevron {
    width: 15px;
    margin: 0px 6px;
    transition: transform .2s linear;
    &.open {
      transform: rotate(180deg);
    }
  }
  &.hidden {
    display: none;
  }
}

.entityNameAndChevron {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  .entityName {
    width: 200px;
    font-weight: 700;
  }
}