.farmTreeWrapper {
  background: #FFF;
  width: 250px;
  height: 100%;
  position: absolute;
  padding: 8px;
  overflow-y: auto;
  z-index: 11;
  display: block;
}

@media (max-width: 700px) {
 .farmTreeWrapper {
   width: 100%;
   display: none;
   &.show {
     display: block;
   }
 }
}