.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  height: 25px;
  padding: 5px 20px;
  color: white;
}

.App-title {
  font-size: 22px;
}

#main-container {
  display: flex;

  .congress-info {
    width: 400px;

    .district-name {

    }

    .rep-info {
      display: flex;

      .rep-photo {
        width: 55px;
      }

      .rep-name {

      }
    }
  }

}

